<div class="modal-header">
	<h3 class="modal-title" ng-hide="currentPage > 1">Welcome!</h3>
	<h3 class="modal-title" ng-show="currentPage === 2">Creating the tracking forms</h3>
	
	<button type="button" class="btn btn-sm btn-link pull-right closeModal badflag" ng-click="exit()">
		<i class="glyphicon glyphicon-remove"></i></button>
</div>

<div class="modal-body same-size">
	<div ng-hide="currentPage > 1">
		<p>This page will help you easily create and manage tracking forms for each agency accepted into the Winter Wishes program this year. <strong>Let's get started!</strong> </p>
		
		<p>
			<div class="form-inline">
				First, let's set the due date for the tracking forms: 
				<div class="input-group col-xs-4 col-sm-4 col-md-4">
					<input type="text" class="form-control input-sm" datepicker-popup="MM/dd/yy" ng-model="dueDate" ng-change="saveDueDate()" is-open="opened" min-date="minDate" datepicker-options="dateOptions" show-button-bar="false"/>
					<span class="input-group-btn">
						<button type="button" class="btn btn-primary btn-sm" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
					</span>
				</div>
			</div>
		</p>

		<p>In order to proceed, all Winter Wishes applications in salesforce should be processed, and you should have the following information for each accepted agency: </p>
		<div class="row">
			<div class="col-md-6">
				<ul>
					<li>Agency Code</li>
					<li>Agency Name</li>
					<li>Contact Name</li>
					<li>Contact E-mail</li>
				</ul>
			</div>
			<div class="col-md-6">
				<ul>
					<li>Accepted Children</li>
					<li>Accepted Teens</li>
					<li>Accepted Seniors</li>
				</ul>
			</div>
		</div>

		<p>Download a salesforce report with these fields, and save it as a <strong>csv</strong> file. </p>
	
	</div>

	<div ng-show="currentPage == 2">
		Click <button type="button" class="btn btn-xs btn-link tutor-link"><i class="glyphicon glyphicon-plus"></i></button> to begin. Then, click <input type="button" class="btn btn-primary btn-xs" value="Browse"/> and find the csv file saved on your computer. Finally, click <input type="button" class="btn btn-primary btn-xs" value="Upload"/> and the accepted agencies should appear onscreen. Each agency will be represented like this:<br/><br/>
		<div class="row">

			<div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3">

			  <div class="agency-box btn-empty" ng-mouseenter="turn = true" ng-mouseleave="turn = false">
				  <div class="text-center"><strong>ELM</strong></div>
				  <p class="text-center" ng-show="!turn">100 Letters</p>

				  <div class="text-center" ng-if="turn">
				  <a href="" class="btn btn-link agency-btn"><i class="glyphicon glyphicon-eye-open"></i></a>

				  <button type="button" class="btn btn-link agency-mid" ng-click=""><i class="glyphicon glyphicon-pencil"></i></button>

				  <button type="button" class="btn btn-link agency-btn" ng-click=""><i class="glyphicon glyphicon-trash"></i></button>
				</div>

			  </div>
			</div>
		</div>
		<p class="text-center">Hover over it to see the three possible actions.</p>
	</div>

</div>

<div class="modal-footer pages">
	<pagination class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" total-items="6" items-per-page="1" max-size="3" rotate="false" ng-model="currentPage"></pagination>
</div>