<div class="container" data-ng-controller="HeaderController">

	<div class="navbar-header">
		<button class="navbar-toggle btn-lg" ng-hide="!authentication.user" type="button" data-ng-click="toggleCollapsibleMenu()">
			<span class="sr-only">Toggle navigation</span>
			<i class="glyphicon glyphicon-menu-hamburger"></i>
		</button>
		<a href="/#!/" class="navbar-brand"><img class="navbar-image" src="/modules/core/img/brand/pfp_logo.gif"></a>
	</div>	

	<nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">

		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown" dropdown on-toggle="toggled(open)" ng-class="{open: hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false" ng-show="authentication.user">
				<a href class="dropdown-toggle" dropdown-toggle>
					<span data-ng-bind="authentication.user.username"></span> <b class="caret"></b>
				</a>
				<ul class="dropdown-menu" role="menu">
<!-- 					<li>
						<a href="" ng-click="showTutorial()">
							<i class="glyphicon glyphicon-question-sign"></i>  Tutorial
						</a>
					</li> -->
<!-- 					<li data-ng-show="authentication.user.role === 'admin'">
						<a href="/#!/admin/email">
							<i class="glyphicon glyphicon-envelope"></i>  E-mail Templates
						</a>
					</li> -->
					<li>
						<a href="/#!/settings/password">
							<i class="glyphicon glyphicon-lock"></i>  Change Password
						</a>
					</li>
					<li data-ng-show="authentication.user.role === 'admin'">
						<a href="/#!/admin/settings">
							<i class="glyphicon glyphicon-cog"></i>  Settings
						</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="/auth/signout">
							<i class="glyphicon glyphicon-log-out"></i>  Logout
						</a>
					</li>
				</ul>
			</li>
		</ul>

	</nav>
</div>