<div class="home"></div>

<section data-ng-controller="HomeController">

  <div class="container">
    <div class="row welcome-container">

        <div class="col-md-12">
          <div class="welcome-mat">Welcome!</div>
          <p class="lead">Login to submit your Admissions Committee Contact Form.</p>
        </div>
        <div class="col-md-2 col-md-offset-5 col-sm-2 col-sm-offset-5">
          <a href="/#!/login" class="ebtn btn-login btn-block">Login</a>
        </div>

    </div>
  </div>

</section>


