.home{
  background: url(books.jpg);
  background-repeat: repeat;
  background-size: cover;
  position: absolute;
  overflow: hidden;
  opacity: 0.6;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.welcome-container {
  padding: 23vh 0;
  text-align: center;
}

.welcome-mat {
    font-size: 2.5em;
}

.welcome-mat, .lead {
  color: black;
  font-family: "Museo Sans", Arial;
  font-weight: 100;
}

.ebtn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: normal;
  line-height: 2;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: black;
  border-color: black;
  background-color: white;
}

.btn-login {
  color: #9C182F;
  border-color: #9C182F;
}

.btn-login:hover, .btn-login:focus {
  text-decoration: none;
  color: white;
  background-color: #9C182F;
  border: 1px solid #9C182F;
}

