.navbar-image {
  height: 50px;
  width: auto;
}

.navbar {
  margin-bottom: 2px;
  background: linear-gradient(#9A162D, #9C182F);
  background: -webkit-linear-gradient(#9A162D, #9C182F);
  background: -moz-linear-gradient(#9A162D, #9C182F);
  background: -o-linear-gradient(#9A162D, #9C182F);
  background: -webkit-gradient(#9A162D, #9C182F);
}

.navbar-brand {
  padding: 0 15px;
}

a {
	color: white;
}

.nav > li > a:hover, .nav > li > a:focus {
	background-color: white;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
	color: white;
	background-color: #9C182F;
	opacity: 0.5;
}

.dropdown-menu {
	background-color: #9C182F;
	padding: 0 0;
	border-color: #9C182F;
}

.dropdown-menu > li > a {
	color: white;
	line-height: 40px;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	color: #9C182F;
	background-color: white;
	background-image: none;
}

.dropdown-menu .divider {
	margin: 0 0;
}

.navbar-toggle {
	color: white;
	background-color: #9C182F;
}

.navbar-toggle:hover, .navbar-toggle:focus {
  color: white;
  text-decoration: none;
  background-color: #9C182F;
  opacity: 0.5;
}