<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<style>
	.lower {
		text-transform: lowercase;
		display: inline;
	}
	</style>
</head>
<body>

	<img src="/modules/core/img/brand/pfpletterlogo.png"/>

	<p>{{today}}</p>
	<br/>
	<p>To Whom It May Concern,</p>

	<p>{{firstName}} {{lastName}} has been working as a member of the Prep for Prep Admissions Committee on a volunteer basis from August ___, 2014 and has participated to present.  

	<p>{{hisher}} duties include proctoring exams, assembling department materials for mailings, and organizing paperwork.  From August ___, 2014 to present, {{firstName}} has volunteered {{totalHours}} hours assisting the Admissions department.</p>

	<p>{{heshe}} is a mature, diligent, and hard working young person.  {{heshe}} has performed all of 
		<span class="lower">{{hisher}}</span> duties with great skill.  I have found {{himher}} to be cooperative, dependable, courteous, and very willing to assist whenever needed.  {{hisher}} help in the admissions process at Prep for Prep has been greatly needed and very much appreciated.</p>

	<p>Please do not hesitate to email me or call me at 212-579-1470 ext. ____ if you require additional information.</p>
	<br/>
	<p>Sincerely,</p>
	<br/><br/>
	________________________________<br/>
	Prep for Prep Admissions Associate

</body>
</html>


