
<section data-ng-controller="CommandCenterController" data-ng-init="find()">

	<div class="row">

		<div class="col-md-9 col-sm-9 col-xs-8">
			<h2 class="btn-link" ng-click="viewEvents()" ng-show="radioModel === 'users'"><i class="fa fa-user"></i> Volunteers</h2>

			<h2 class="btn-link" ng-click="viewUsers()" ng-show="radioModel === 'events'"><i class="fa fa-calendar"></i> Events</h2>
		</div>
		<div class="col-md-3 col-sm-3 col-xs-4 text-right hidden-print">
			<button class="btn btn-lg btn-link" ng-click="startSearch = !startSearch">
				<i class="fa fa-search"></i>
			</button>
			<button class="btn btn-lg btn-link" ng-click="showSidebar()">
				<i class="fa fa-user-plus" ng-if="radioModel === 'users'"></i>
				<i class="fa fa-calendar-plus-o" ng-if="radioModel === 'events'"></i>
			</button>
		</div>

		<div class="col-md-12">
			<alert ng-show="alert.active" type="{{alert.type}}" ng-model="alert" close="alert.active = false">{{alert.msg}}</alert>
		</div>
		
	</div>

	<div class="row">
		<div class="col-md-3 pull-right col-sm-12 col-xs-12 hidden-print" ng-show="needToUpdate">
			<form role="form" ng-show="!partner">
				<div class="form-group">
					<label class="sr-only" for="the_file">File input</label>
					<div class="input-group">
						<span class="input-group-btn">
							<span class="btn btn-review btn-file">
								Browse <input type="file" id="the_file" accept=".csv" onchange="angular.element(this).scope().fileInfo(this)">
							</span>
						</span>
						<input type="text" class="form-control filename col-md-4" ng-model="file.name" id="filename" readonly>
						<span class="input-group-btn">
							<input type="button" class="btn btn-review" ng-click="handleFileSelect()" value="Upload"/>
						</span>
					</div>
				</div>
			</form>

			<form role="form">
				<div class="form-group">
					<label>{{radioModel === 'users' ? 'Contact' : 'Event' }} Info</label>
					<input type="text" class="profile form-control" ng-model="partner.username" placeholder="username" ng-show="radioModel === 'users'">
					<input type="text" class="profile form-control" datepicker-popup="MM/dd/yy" ng-model="event.date" is-open="opened" datepicker-options="dateOptions" show-button-bar="false" ng-click="open($event)" ng-show="radioModel === 'events'" placeholder="mm/dd/yy">
					<input type="text" class="profile form-control" ng-model="event.shift" placeholder="event shift (optional)" ng-show="radioModel === 'events'">
				</div>

				<input type="button" class="btn btn-empty col-md-4 col-sm-3 col-xs-3 pull-left" ng-click="hideSidebar()" value="Cancel">
				<div class="form-group">
					<input type="button" class="btn btn-complete col-md-4 col-sm-3 col-xs-3 pull-right" ng-click="save()" value="Save">
				</div>
				<br/><br/>
			</form>
		</div>


		<div ng-class="needToUpdate ? 'col-md-9 pull-left col-sm-12 clearfix col-xs-12 clearfix' : 'col-md-12 col-sm-12 col-xs-12'">

			<!-- search bar -->
			<div class="row" ng-show="startSearch">
				<div ng-class="needToUpdate ? 'col-md-6 pull-left col-sm-12 clearfix col-xs-12 clearfix' : 'col-md-4 col-sm-6 col-xs-12'">
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-search"></i></span>
							<input type="search" class="form-control" ng-model="query.first_name" ng-show="radioModel === 'users'" placeholder="Search by First Name"/>
							<input type="search" class="form-control" ng-model="query.date" ng-show="radioModel === 'events'" placeholder="Search by date (yyyy-mm-dd)"/>
						</div>
					</div>
				</div>

			</div>

			<div class="row">

				<!-- User View -->
				<div class="col-xs-6 col-sm-3" ng-class="needToUpdate ? 'col-md-3' : 'col-md-2'" ng-repeat="partner in partners | orderBy: ['-submitted', 'last_name', 'first_name', 'username'] | filter: query as results" ng-if="partner.role === 'user'" ng-show="radioModel === 'users'">
					<div class="agency-box" ng-mouseenter="turn = true" ng-mouseleave="turn = false" ng-class="partner.submitted ? 'box-complete' : 'box-empty'">

						<div class="text-center" ng-show="!partner.submitted">
							<strong>{{partner.username}}</strong>
						</div>
						<div class="text-center crop" ng-show="partner.submitted">
							<strong>{{partner.last_name | uppercase}}, {{partner.first_name}}</strong>
						</div>

						<p class="text-center" ng-show="!turn">{{partner.hours}} hours</p>

						<div class="text-center" ng-if="turn">
							<a href="/#!/admin/user/{{partner._id}}" class="btn btn-link agency-btn"><i class="glyphicon glyphicon-eye-open"></i></a>

							<button type="button" class="btn btn-link agency-mid" ng-click="writeServiceLetter(partner._id)"><i class="glyphicon glyphicon-file"></i></button>

							<button type="button" class="btn btn-link agency-btn" ng-click="deleteBox(partner)"><i class="glyphicon glyphicon-trash"></i></button>
						</div>

					</div>
				</div>

				<!-- Event View -->
				<div class="col-xs-6 col-sm-3" ng-class="needToUpdate ? 'col-md-3' : 'col-md-2'" ng-repeat="event in events | orderBy: '-date' | filter: query as results" ng-show="radioModel === 'events'">
					<div class="agency-box" ng-mouseenter="turn = true" ng-mouseleave="turn = false">

						<div class="text-center">
							<strong>{{event.date | date: 'shortDate'}} {{event.shift ? '(' +event.shift + ')' : ''}}</strong>
						</div>

						<p class="text-center" ng-show="!turn">{{event.volunteers.length}} Volunteers</p>

						<div class="text-center" ng-if="turn">
							<a href="/#!/admin/event/{{event._id}}" class="btn btn-link agency-btn"><i class="glyphicon glyphicon-eye-open"></i></a>

							<button type="button" class="btn btn-link agency-mid" ng-click="showSidebar(event)"><i class="glyphicon glyphicon-pencil"></i></button>

							<button type="button" class="btn btn-link agency-btn" ng-click="deleteBox(event)"><i class="glyphicon glyphicon-trash"></i></button>
						</div>

					</div>
				</div>

			</div>
		</div>

	</div>

</section>