<section class="row" data-ng-controller="SettingsController">

	<div class="col-md-12">

	<h3 class="text-center" ng-show="user.role === 'admin'">Contact Information</h3>

	<div class="btn-group pull-right" ng-show="user.role === 'admin'">
		<label class="btn btn-radio active"><i class="glyphicon glyphicon-user"></i></label>
		<label class="btn btn-radio" ng-click="viewVolunteerSummary()"><i class="glyphicon glyphicon-calendar"></i></label>
	</div>

	</div>

	<div class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4">

		<form name="userForm" data-ng-submit="updateUserProfile(userForm.$valid)" class="signin" autocomplete="off">
			<fieldset>

				<div class="form-group col-md-6">

					<label for="contact" class="control-label" ng-class="{'sr-only': user.role !== 'admin'}">First Name</label>
					<input type="text" id="contact" name="contact" class="profile form-control" data-ng-model="currentUser.first_name" placeholder="first name" required>

				</div>

				<div class="form-group col-md-6">

					<label for="contact" class="control-label" ng-class="{'sr-only': user.role !== 'admin'}">Last Name</label>
						<input type="text" id="contact" name="contact" class="profile form-control" data-ng-model="currentUser.last_name" placeholder="last name" required>

				</div>

				<div class="form-group col-md-6">

					<label for="contingent" class="control-label" ng-class="{'sr-only': user.role !== 'admin'}">Contingent</label>
						<input type="text" id="contingent" name="contingent" class="profile form-control" data-ng-model="currentUser.contingent" placeholder="contingent" required>

				</div>

				<div class="form-group col-md-6">

					<label for="gender" class="control-label" ng-class="{'sr-only': user.role !== 'admin'}">Gender</label>
						<input type="gender" id="gender" name="gender" class="profile form-control" data-ng-model="currentUser.gender" placeholder="gender" required>

				</div>

				<div class="form-group col-md-12">

					<label for="notes" class="control-label" ng-class="{'sr-only': user.role !== 'admin'}">Notes</label>
						<textarea id="notes" name="notes" class="profile form-control" data-ng-model="currentUser.notes" placeholder="notes" required></textarea> 

				</div> 

			</fieldset>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-large btn-login" ng-show="user.role === 'admin'">Save Changes</button>
					<button type="submit" class="btn btn-large btn-login" ng-hide="user.role === 'admin'">Submit</button>
				</div>

				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
		</form>
	</div>

</section>