<section class="row" data-ng-controller="SummaryController" ng-init="find()">

	<div class="col-md-12">

		<h3 class="text-center">Volunteer Summary</h3>

		<div class="btn-group pull-right">
			<label class="btn btn-radio" ng-click="viewContactInfo()"><i class="glyphicon glyphicon-user"></i></label>
			<label class="btn btn-radio active" ><i class="glyphicon glyphicon-calendar"></i></label>
		</div>

	</div>

	<div class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4">

		<table class="table table-striped">
			<tr>
				<th>Event Date</th>
				<th># of Hours</th>
			</tr>
			<tr ng-repeat="event in relatedEvents | orderBy: 'date'">
				<td><a href="/#!/admin/event/{{event._id}}" class="btn-link">{{event.date | date: 'shortDate'}}</a></td>
				<td>{{event.volunteers.hours}}</td>
			</tr>
			<tr>
				<td><strong>Total</strong></td>
				<td>{{currentUser.hours}}</td>
			</tr>
		</table>

	</div>

</section>